/*body {
	background-color: #eee;
}

#root {
	color: white;
	background-color: #333;
	margin: 0;
}
*/
.app {
	max-width: 900px;
	margin: 0 auto;
}

.config-group {
	margin: 5px 0;
}

.config-group input {
	margin: 0 10px;
}